/* app */

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* toolbar */

.app-toolbar {
    height: 70px;
    flex-shrink: 0;
}

.mobile-logo {
    aspect-ratio: 1;
    width: 45px;
}

/* app body */

.app-body {
    flex-grow: 1;
    display: flex;
}

/* sidebar */

.sidebar {
    min-width: 70px;
    flex-shrink: 0;
}

/* main content */

.main-content {
    flex-grow: 1;
}


/* media query */

/* @media (min-width: 576px) { ... } */


/* @media (min-width: 768px) { ... } */


/* @media (min-width: 992px) {

} */


/* @media (min-width: 1200px) { ... } */


/* @media (min-width: 1400px) { ... } */

/* debug */

.debu #app {
    padding: 10px;
}

.debug .app-toolbar {
    border: 2px solid red;
    /* padding: 10px; */
}

.debug .app-body {
    border: 2px solid blue;
    padding: 10px;
}

.debug .sidebar {
    border: 2px solid green;
}

.debug .main-content {
    border: 2px solid green;
}

.debug .container-fluid div {
    border: 2px solid rgb(112, 112, 7);
    height: 40px;
}